<% if samples&.count > 0 && query.result.count != 0 %>
  <div class="max-w-screen-xl px-4 py-2 mx-auto text-center">
    <div class="relative overflow-x-auto border-x border-t rounded-md">
      <table class="w-full text-sm text-left text-gray-500">
        <thead>
          <tr class="bg-gray-100 border-b border-gray-300">
            <th scope="col" class="py-3 pl-6">#</th>
            <th scope="col" class="px-6 py-3"><%= sort_link @query, :title, "Title", default_order: :desc, class: "flex items-center" %></th>
            <th scope="col" class="px-6 py-3"><%= sort_link @query, :category, "Category", class: "flex items-center" %></th>
            <th scope="col" class="px-6 py-3">Compound</th>
            <th scope="col" class="px-6 py-3">Spectra</th>
            <th scope="col" class="px-6 py-3">Files</th>
            <th scope="col" class="px-6 py-3"><%= sort_link @query, :created_at, "Added", class: "flex items-center" %></th>
          </tr>
        </thead>
        <tbody class="bg-white border-b">
          <% samples.each do |sample| %>
            <%= render "sample", sample: sample %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% elsif query.result.count == 0 && params[:query] %>
  <div class="ml-4 border relative p-8 text-center bg-white border-gray-200 rounded-md">
    <h2 class="text-2xl font-medium">
      There's nothing here...
    </h2>
    <p class="mt-4 text-sm text-gray-500">
      The query returned no results
    </p>
  </div>
<% else %>
  <div class="relative ml-4 border p-8 text-center bg-white border-gray-200 rounded-md">
    <h2 class="text-2xl font-medium">
      There's nothing here...
    </h2>
    <p class="mt-4 text-sm text-gray-500">
      New samples will appear here
    </p>
  </div>
<% end %>
