<%= turbo_stream_from "processing" %>

<%= turbo_frame_tag spectrum, src: show_processing_indicator_sample_spectrum_path(sample, spectrum, frame: true), loading: :lazy do %>
  <div class="w-5 h-5"></div>
<% end %>
