  <h3 class="font-bold">Categories</h3>
  <ul class="">
    <% @categories.each do |c| %>
      <li><%= link_to c.category_name, c %></li>
    <% end %>
  </ul>
  <br/>
  <% if has_role?(:admin) %>
    <%= link_to "New Category", new_category_path, class: "no-underline hover:underline m-2" %>
  <% end %>
