<div class="flex items-center">
  <div id="files-modal" tabindex="-1" class="flex hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full bg-gray-500 bg-opacity-75 md:inset-0 md:h-full h-modal" data-modal-target="modal">
    <div class="relative max-w-screen-xl h-2/3 shadow-2xl md:h-auto">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow">
        <!-- Modal header -->
        <div class="flex justify-between items-center p-5 rounded-t border-b">
          <div>
            <h3 class="text-xl font-medium text-gray-900">
              Attached files
            </h3>
            <p class="text-sm leading-relaxed text-gray-500">
              Click the document filename to download, click the cross icon to remove attachment
            </p>
          </div>
          <button type="button" class="inline-flex items-center p-1.5 ml-auto text-sm text-gray-400 bg-transparent rounded-lg hover:text-gray-900 hover:bg-gray-200" data-modal-toggle="files-modal" data-action="click->modal#toggle">
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <div class="overflow-auto p-6 pace-y-2 max-h-1/2">
          <ul class="ml-8 list-disc">
            <% @spectrum.files.each do |file| %>
              <% if file.persisted? %>

                <%= tag.div data: { controller: "attachment", "attachment-target": "attachment", "attachment-id-value": file.signed_id }, class: "m-2" do %>
                  <div class="flex">
                    <li>
                      <p class="text-base leading-relaxed text-gray-500 truncate">
                        <%= link_to rails_blob_path(file, disposition: 'attachment') do %>
                          <%= file.filename.to_s %>
                        <% end %>
                      </p>
                    </li>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ml-4 w-5 h-5 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
