<%= render Sections::SectionComponent.new() do %>
  <%= render Sections::DivContainerComponent.new() do %>
    <div class="mb-4 border-bottom">
      <h1><%= t('.title') %></h1>
    </div>

    <%= render 'form', application: @application %>
  <% end %>
<% end %>
