<button type="submit" class="w-full px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-500 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-200 sm:w-auto py-2.5 dark:bg-primary-500 dark:hover:bg-primary-500 dark:focus:ring-primary-800 <%= @cls %>">
  <%= content %>
</button>
