<nav>
  <div class="nav-wrapper" style="background-color: #1E51A4 !important;">
    <ul id="tabs" class="left hide-on-med-and-down">
      <%= nav_helper "", "li" %>
    </ul>
    <a href="#">
    <img src="/img/logo.png" alt="header logo" class="responsive-img brand-logo center" style='height: 100%; object-fit: contain'/>
    </a>
    

    <ul id="tabs" class="right hide-on-med-and-down">
      <% unless current_user.nil? %>
        <li>
          <%= link_to "#{current_user.first_name}", "/users/#{current_user.slug}" %>
        </li>
      <% end %>

      <%= auth_helper "", "li" %>
    </ul>
  </div>
</nav>