<footer class="p-1 mt-40 bg-white rounded-lg shadow md:flex md:justify-between md:items-center md:p-2">
  <span class="ml-2 text-sm text-gray-500 sm:text-center"><%= set_copyright %>
  </span>
  <a href="https://itmo.ru/" class="4">
    <%= image_tag "logo.png", class: "h-10", alt: "ITMO Logo" %>
  </a>
</footer>
