<footer class="p-3 mt-40 bg-white rounded-lg shadow md:flex md:items-center md:justify-between md:p-4 dark:bg-gray-800">
  <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"><%= set_copyright %>
  </span>
  <a href="https://itmo.ru/" class="-m-4">
    <%= image_tag "itmo_horiz_white_logo.png", class: "h-12", alt: "ITMO Logo" %>
  </a>
  <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
    <li>
      <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
    </li>
    <li>
      <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
    </li>
    <li>
      <a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
    </li>
    <li>
      <a href="#" class="hover:underline">Contact</a>
    </li>
  </ul>
</footer>
