<nav>
  <div class="nav-wrapper teal lighten-2">
    <a href="#" class="brand-logo center">ITMOHSDB</a>
    <ul id="tabs" class="left hide-on-med-and-down">
      <%= nav_helper "", "li"%>
    </ul>
    <ul id="tabs" class="right hide-on-med-and-down">
      <%= auth_helper "", "li"%>
    </ul>
  </div>
</nav>
