<nav class="bg-white px-2 sm:px-4 py-2.5 border border-gray-200 shadow-md ">
  <div class="grid grid-cols-3 gap-4">
    <div class="place-self-start">
      <span class="flex flex-row self-center text-xl font-semibold whitespace-nowrap text-itmo_primary-500"><svg class="w-6 h-6 mr-2 my-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4"></path></svg>ITMO Heritage Science DB</span>
    </div>
    <div class="place-self-center my-auto">
      <ul class="flex flex-row space-x-8 mt-0 text-sm font-medium">
        <% if current_user %>
          <%= nav_helper  "li", "bg-transparent text-itmo_primary-300 p-0", "!text-itmo_primary-500", true %>
        <% end %>
      </ul>
    </div>
    <div class="flex place-self-end">
      <% if !current_user %>
        <button id="dropdownDefault" data-dropdown-toggle="dropdown-2" class="text-center text-itmo_primary-500 bg-white rounded-lg hover:text-itmo_primary-300 focus:ring-4 focus:outline-none focus:ring-gray-300" type="button"><svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg></button>
        <!-- Dropdown language menu -->
        <div id="dropdown-2" class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow ">
          <aside class="w-64" aria-label="Sidebar">
            <div class="overflow-y-auto px-3 bg-white rounded dark:bg-gray-800">
              <ul>
                <li>
                  <button type="button" class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-lang" data-collapse-toggle="dropdown-lang">
                    <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"></path></svg>
                    <span class="flex-1 ml-3 text-left whitespace-nowrap" sidebar-toggle-item>Language</span>
                    <span class="inline-flex justify-center items-center px-2 ml-3 text-sm font-medium text-gray-800 bg-gray-200 rounded-full dark:bg-gray-700 dark:text-gray-300"><%=t('language_abbr', locale: locale)%></span>
                    <svg sidebar-toggle-item class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  </button>
                  <ul id="dropdown-lang" class="hidden py-2 space-y-2">
                    <% I18n.available_locales.each do |locale| %>
                      <li class="">
                        <%= link_to t('language_name', locale: locale), url_for(params.to_unsafe_h.merge(locale: locale)), class: "block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100" %>
                      </li>
                    <% end %>
                  </ul>
                </li>
              </ul>
            </div>
          </aside>
        </div>
      <% else %>
        <button type="button" class="flex mx-0 text-sm bg-white rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 text-itmo_primary-500" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="dropdown">
          <span class="sr-only">Open user menu</span>
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
        </button>
        <!-- Dropdown user  menu -->
        <div class="hidden z-50 my-4 text-base list-none bg-white rounded divide-y divide-gray-100 shadow " id="dropdown" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(955px, 1844px);" data-popper-placement="bottom">
          <%= render "shared/application_nav_sidebar" %>
        </div>
      <% end %>
    </div>
  </div>
</nav>
