<nav>
  <div class="nav-wrapper teal lighten-2">
    <a href="#" class="brand-logo center"><img src="/img/logo.png" alt="header logo"/></a>
    <ul id="tabs" class="left hide-on-med-and-down">
      <%= nav_helper "", "li"%>
    </ul>
    <ul id="tabs" class="right hide-on-med-and-down">
      <%= auth_helper "", "li"%>
    </ul>
  </div>
</nav>

<%# ITMO landing page test %>
<%# 
<header class="main-header">
    <div class="wrapper">
        <div class="grid between-lg middle-lg">
            <a href="/" class="main-header__logo">
                
            </a>
            <nav class="main-header__nav">
                <a href="#text-with-image" class="main-header__link anchor-link">О нас</a>
                <a href="#cards" class="main-header__link anchor-link">Программы</a>
                <a href="#speakers" class="main-header__link anchor-link">Спикеры</a>
                <a href="#timeline" class="main-header__link anchor-link">Этапы конкурса</a>
                <a href="#events" class="main-header__link anchor-link">Мероприятия</a>
                <a href="#news" class="main-header__link anchor-link">Новости</a>
                <a href="#icons-section" class="main-header__link anchor-link">Блок с иконками</a>
                <a href="#accordion" class="main-header__link anchor-link">Вопросы-ответы</a>
                <a href="#partners" class="main-header__link anchor-link">Партнеры</a>
                <a href="#contacts" class="main-header__link anchor-link">Контакты</a>
            </nav>
            <button class="main-header__burger">
                <span></span>
            </button>
        </div>
    </div>
</header> %>
