<div class="hidden rounded-md shadow-md" id="clipboard-flash">
  <div class="flex items-center justify-between p-4 border rounded-md bg-blue-50 text-primary-500 border-primary-400/50" role="alert">
    <%= tag.strong "Link copied to clipboard!", class: "text-sm font-medium" %>
  </div>
</div>
