<div class="hidden shadow-md rounded-lg" id="clipboard-flash">
  <div class="flex justify-between items-center p-4 bg-blue-50 rounded-lg border text-primary-500 border-primary-400/50" role="alert">
    <%= tag.strong "Link copied to clipboard!", class: "text-sm font-medium" %>
  </div>
</div>
