<div class="stream">
<div class="stream-badge">
<i class="fa fa-globe"></i>
</div>
<div class="stream-panel">
<div class="stream-info">
</div>

<i class="fa fa-window-close"></i>
Removed upload
<small><span class="date">on: <%= activity.created_at.strftime("%d %b, %Y at %I:%M %p") %></span></small>

</div>
</div>
<hr>
