<%= render Sections::SectionComponent.new(cls: "text-gray-700") do %>

  <div class="max-w-screen-xl px-4 mx-auto text-center lg:px-12">
    <%= render Typography::H1Component.new() do %>
      Lorem ipsum dolor sit amet. Lorem ipsum dolor amet.
    <% end %>
    <div class="mx-auto text-center md:max-w-xl lg:max-w-3xl">
      <%= render Typography::H3Component.new().with_content("Testimonials") %>
      <%= render Typography::PHeroComponent.new() do %>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue.
      <% end %>
    </div>
    <div class="grid gap-6 text-center md:grid-cols-3">
      <div>
        <div class="block bg-white rounded-lg shadow-lg">
          <div class="overflow-hidden rounded-t-lg h-28 bg-primary-100"></div>
          <div class="w-24 mx-auto -mt-12 overflow-hidden bg-white border-2 border-white rounded-full">
            <img src="https://ui-avatars.com/api/?size=128&name=L+I">
          </div>
          <div class="p-6">
            <h4 class="mb-4 text-2xl font-semibold">Lore Ipsum</h4>
            <hr>
            <p class="mt-4">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-left" class="inline-block w-6 pr-2" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="currentColor" d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"></path>
              </svg>
              Lorem ipsum dolor sit amet eos adipisci, consectetur adipisicing elit.
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="block bg-white rounded-lg shadow-lg">
          <div class="overflow-hidden rounded-t-lg h-28 bg-secondary-400"></div>
          <div class="w-24 mx-auto -mt-12 overflow-hidden bg-white border border-2 border-white rounded-full">
            <img src="https://ui-avatars.com/api/?size=128&name=L+I">
          </div>
          <div class="p-6">
            <h4 class="mb-4 text-2xl font-semibold">Lore Ipsum</h4>
            <hr>
            <p class="mt-4">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-left" class="inline-block w-6 pr-2" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="currentColor" d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"></path>
              </svg>
              Neque cupiditate assumenda in maiores
              repudi mollitia architecto.
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="block bg-white rounded-lg shadow-lg">
          <div class="overflow-hidden rounded-t-lg h-28 bg-primary-300"></div>
          <div class="w-24 mx-auto -mt-12 overflow-hidden bg-white border border-2 border-white rounded-full">
            <img src="https://ui-avatars.com/api/?size=128&name=L+I">
          </div>
          <div class="p-6">
            <h4 class="mb-4 text-2xl font-semibold">Lore Ipsum</h4>
            <hr>
            <p class="mt-4">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-left" class="inline-block w-6 pr-2" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="currentColor" d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"></path>
              </svg>
              Delectus impedit saepe officiis ab
              aliquam repellat rem unde ducimus.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
