<div class="container center-align small-padding">
  <h3>About us</h3>
  <div class="row">
    <div class="col s6">
      <article class="border padding large-height small-margin">
        <h3>Irure pariatur reprehenderit culpa dolor officia.</h3>
        <p>Esse fugiat amet laborum nostrud ex sunt do id irure tempor anim. Ea sit ad ullamco adipisicing sint sint culpa fugiat. Ipsum est incididunt officia consequat.</p>
      </article>
    </div>
    <div class="col s6">
      <article class=" border padding small-margin">
        <h3>Exercitation amet culpa ut laboris cillum nulla eu.</h3>
        <p>Esse fugiat amet laborum nostrud ex sunt do id irure tempor anim. Ea sit ad ullamco adipisicing sint sint culpa fugiat. Ipsum est incididunt officia consequat.</p>
      </article>
      <article class="small-margin  border padding">
        <h3>Esse pariatur ad consequat nulla officia sunt.</h3>
        <p>Consectetur nulla non laboris aliquip aliquip. Velit velit fugiat sit deserunt nisi qui adipisicing non ut eu. Incididunt laboris ipsum esse veniam nisi sit ad officia eu consectetur adipisicing culpa esse velit.</p>
      </article>
      <article class="small-margin  border padding">
        <h3>Eiusmod aliquip labore in irure sint eiusmod cupidatat anim.</h3>
        <p>Reprehenderit ad quis fugiat consequat nostrud. Consectetur occaecat irure quis occaecat ea minim aute fugiat sunt. Occaecat culpa ex nulla do enim magna. Minim labore et mollit sunt magna mollit. Labore mollit occaecat nisi id aliquip sunt ad nostrud et. Est reprehenderit laborum exercitation fugiat velit ullamco eiusmod esse pariatur enim elit.</p>
      </article>
    </div>
  </div>
</div>