<div class="container">
  <h3>Exercitation amet culpa ut laboris cillum nulla eu.</h3>
  <p>Esse fugiat amet laborum nostrud ex sunt do id irure tempor anim. Ea sit ad ullamco adipisicing sint sint culpa fugiat. Ipsum est incididunt officia consequat.</p>
  <a href="#"
    data-reflex="click->Counter#increment"
    data-step="1" 
    data-count="<%= @count.to_i %>"
    >Increment <%= @count.to_i %></a>
</div>
