<div class="container">
  <h3>Journal</h3>
  <div class="activity">
    <% @activities.each do |activity| %>
      <%= render_activity activity if activity.trackable_type == "Upload" %>
    <% end %>
  </div>
</div>
