<% if page.current? %>
  <li class="">
    <%= content_tag :a, page, class: "z-10 py-2 px-3 leading-tight text-blue-600 bg-blue-50 border border-itmo_primary-200 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white" %>
  </li>
<% else %>
  <li class="">
    <%= link_to page, url, :rel => "next", class: "py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white", :remote => remote %>
  </li>
<% end %>
