@import "trix";
@import '@uppy/core/dist/style.css';
@import '@uppy/dashboard/dist/style.css';
@import '@uppy/image-editor/dist/style.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

trix-editor {
  @apply block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 focus:border-2;
  outline: none;
}

.hide-file-input-text {
  color: transparent;
}

.json-container-styled {
  @apply rounded-lg bg-gray-50 font-sans !important
}

.json-container {
  @apply font-sans break-all !important
}

.json-string {
  @apply break-all
}

.line-styled {
  @apply mt-0 pt-1 bg-gray-50 rounded-lg !important
}

[contenteditable] {
  outline: 0px solid transparent;
}

.field_with_errors input {
  @apply border border-secondary-500 focus:ring-secondary-500 !important
}

.field_with_errors trix-editor {
  @apply border border-secondary-500 focus:ring-secondary-500 !important
}

.field_with_errors textarea {
  @apply border border-secondary-500 focus:ring-secondary-500 !important
}

.uppy-Dashboard-overlay {
  @apply bg-gray-500 bg-opacity-75 !important
}

tr:nth-child(even) {
  @apply bg-gray-50
}

#loadingModalBackLayer {
  animation: fadein 2s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
