@import "trix";
@import '@uppy/core/dist/style.css';
@import '@uppy/dashboard/dist/style.css';
@import '@uppy/image-editor/dist/style.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {


  .json-container-styled {
    @apply rounded-lg bg-gray-50 font-sans !important
  }

  .json-container {
    @apply font-sans break-all !important
  }

  .json-string {
    @apply break-all
  }

  .line-styled {
    @apply mt-0 pt-1 bg-gray-50 rounded-lg !important
  }

  .uppy-Dashboard-overlay {
    @apply bg-gray-500 bg-opacity-75 !important
  }

  tr:nth-child(even) {
    @apply bg-gray-50
  }

}

.hide-file-input-text {
  color: transparent;
}

.field_with_errors input {
  @apply border border-secondary-500 focus:ring-secondary-500 !important
}

.field_with_errors trix-editor {
  @apply border border-secondary-500 focus:ring-secondary-500 !important
}

.field_with_errors textarea {
  @apply border border-secondary-500 focus:ring-secondary-500 !important
}

[contenteditable] {
  outline: 0px solid transparent;
}

#loadingModalBackLayer {
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.turbo-progress-bar {
  @apply bg-primary-300 !important
}

.uppy-Dashboard-AddFiles {
  @apply border-0 !important
}

.flash {
  -webkit-animation: fadeout 5s;
  animation: fadeout 5s;
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 1;

  }

  100% {
    opacity: 0;

  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 1;

  }

  100% {
    opacity: 0;

  }
}

.pagy-nav,
.pagy-nav-js {
  @apply flex space-x-2;
}

.pagy-nav .page a,
.pagy-nav .page.active,
.pagy-nav .page.prev.disabled,
.pagy-nav .page.next.disabled,
.pagy-nav-js .page a,
.pagy-nav-js .page.active,
.pagy-nav-js .page.prev.disabled,
.pagy-nav-js .page.next.disabled {
  @apply block rounded-lg px-3 py-1 text-sm text-gray-500 font-semibold bg-gray-200 shadow-md;

  &:hover {
    @apply bg-gray-300;
  }

  &:active {
    @apply bg-gray-400 text-white;
  }
}

.pagy-nav .page.prev.disabled,
.pagy-nav .page.next.disabled,
.pagy-nav-js .page.prev.disabled,
.pagy-nav-js .page.next.disabled {
  @apply text-gray-400 cursor-default;

  &:hover {
    @apply text-gray-400 bg-gray-200;
  }

  &:active {
    @apply text-gray-400 bg-gray-200;
  }
}

.pagy-nav .page.active,
.pagy-nav-js .page.active {
  @apply text-white cursor-default bg-gray-400;

  &:hover {
    @apply text-white bg-gray-400;
  }

  &:active {
    @apply bg-gray-400 text-white;
  }
}


.pagy-combo-nav-js {
  @apply flex max-w-4/5 rounded-full px-3 py-1 text-sm text-gray-500 font-semibold bg-gray-200 shadow-md;
}

.pagy-combo-nav-js .pagy-combo-input {
  @apply bg-white px-2 rounded-sm
}

.pagy-combo-nav-js .page.prev,
.pagy-combo-nav-js .page.next {
  &:hover {
    @apply text-gray-800;
  }

  &:active {
    @apply text-gray-800;
  }
}

.pagy-combo-nav-js .page.prev.disabled,
.pagy-combo-nav-js .page.next.disabled {
  @apply text-gray-400 cursor-default;
}

.flash-info {
  @apply bg-blue-50 text-primary-500
}

.flash-error {
  @apply bg-red-50 text-secondary-500
}

.trix-button-row {
  @apply my-auto w-full bg-gray-100 rounded-t-lg border border-gray-300 border-b-0 dark:bg-gray-700 dark:border-gray-600
}

.trix-button {
  @apply p-2 px-0.5 mx-0.5 my-1 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 border-0 !important
}

trix-toolbar .trix-button-group{
  @apply mb-0 !important
}

trix-editor {
  @apply block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-b-lg rounded-t-none border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 focus:border-2 !important;
  outline: none;
}

.trix-dialogs {
  display: none;
}

.trix-button-group {
  @apply !border-0
}

trix-toolbar .trix-button:not(:first-child) {
  @apply border-l-0
}

.trix-button-group .trix-button-group--block-tools {
  @apply !border-l !border-solid !important
}

trix-toolbar .trix-button--icon-bold::before {}

trix-toolbar .trix-button.trix-active {
  @apply !bg-blue-200
}
