<%= form_for @category, validate: true do |f| %>
  <%= render Form::SectionLabelComponent.new().with_content("Info") %>
  <div class="grid gap-6 mb-6 lg:grid-cols-2">
    <div>
      <%= f.text_field :title %>
      <%#= render Form::LabelComponent.new().with_content("Title") %>
      <%#= render Form::TextInputComponent.new(form: f, field: :category_name, required: true, disabled: false, readonly: false) %>
    </div>
  </div>
  <div class="flex">
    <%#= render Form::SubmitComponent.new(form: f).with_content("Save") %>
    <%#= render Form::BackButtonComponent.new(path: @category).with_content("Back") %>
    <%= f.submit %>
  </div>
<% end %>
