<section class="border bg-gray-50 ">
  <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-12">
    <div class="flex justify-between mb-4">
      <h3 class="my-auto text-4xl font-bold leading-none tracking-tight text-center text-gray-900">HSDB Users</h3>
      <span class="flex my-auto text-gray-500">
        <p class="mr-2 text-sm leading-relaxed text-gray-500 ">
          Download user data
        </p>
        <%= link_to admin_users_path(format: :zip), class: "" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
          </svg>
        <% end %>
      </span>
    </div>
    <div class="relative overflow-x-auto border rounded-lg">
      <table class="w-full text-sm text-left text-gray-500  ">
        <thead>
          <tr>
            <th scope="col" class="py-3 pl-6">#</th>
            <th scope="col" class="px-6 py-3">Name</th>
            <th scope="col" class="px-6 py-3">Organization</th>
            <th scope="col" class="px-6 py-3">Roles</th>
            <th scope="col" class="px-6 py-3">Created at</th>
            <th scope="col" class="px-6 py-3">Actions</th>
          </tr>
        </thead>
        <tbody class="bg-white border-b  ">
          <%= render @users %>
        </tbody>
      </table>
    </div>
  </div>
</section>
