<h3 class="center">HSDB Users</h3>
<hr>
<table class="container striped highlight centered responsive-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Organization</th>
    </tr>
  </thead>

  <tbody>
    <%= render @users %>
  </tbody>
</table>