<div class="container">

<h3 class="center">HSDB Users</h3>

  <div>
    <%= link_to "Download zipped XLSX", admin_users_path(format: :zip), class: "btn", style: "background-color: #1E51A4 !important;" %>
  </div>

  <hr>
  <table class="container striped highlight centered responsive-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Organization</th>
        <th>Roles</th>
        <th>Created at</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= render @users %>
    </tbody>
  </table>
</div>