<div class="flex items-center">
  <div id="documents-modal" tabindex="-1" class="hidden bg-gray-500 bg-opacity-75 overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-2/3 max-w-lg h-2/3 md:h-auto" data-modal-target="documents">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div class="flex justify-between items-center p-5 rounded-t border-b dark:border-gray-600">
          <div>
            <h3 class="text-xl font-medium text-gray-900 dark:text-white">
              Attached documents
            </h3>
            <p class="text-sm leading-relaxed text-gray-500 dark:text-gray-400">
              Click the document filename to download, click the cross icon to remove attachment
            </p>
          </div>
          <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="documents-modal" data-action="click->modal#interact">
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <div class="p-6 space-y-2 max-h-1/2 overflow-auto">
          <ul class="list-disc ml-8">
            <% @upload.documents.each do |doc| %>
              <%= tag.div data: {controller: "attachment", "attachment-target": "attachment", "attachment-id-value": doc.signed_id }, class: "m-2" do %>
                <div class="flex">
                  <li>
                    <p class="truncate text-base leading-relaxed text-gray-500 dark:text-gray-400">
                      <%= link_to rails_blob_path(doc, disposition: 'attachment') do %>
                        <%= doc.filename.to_s %>
                      <% end %>
                    </p>
                  </li>
                  <%= link_to purge_attachment_upload_path(doc.signed_id), data: {}, class: "my-auto", data: {action: "click->attachment#delete", turbo_method: :delete} do %>
                    <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-500 ml-4 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
