<div class="flex items-center">
  <div id="images-modal" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden w-full h-full bg-gray-500 bg-opacity-75" data-modal-target="images">
    <div class="relative max-w-screen-xl p-0 m-10 shadow-2xl h-2/3 md:h-auto">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-gray-600">
          <div>
            <h3 class="text-xl font-medium text-gray-900 dark:text-white">
              Attached images
            </h3>
            <p class="text-sm leading-relaxed text-gray-500 dark:text-gray-400">
              Delete images by pressing the cross icon, no need to update upload
            </p>
          </div>
          <button type="button" class="inline-flex items-center ml-auto text-sm text-gray-400 bg-transparent rounded-lg hover:bg-gray-200 hover:text-gray-900 p-1.5 dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="images-modal" data-action="click->modal#interact">
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <div class="p-6 space-y-2">
          <div class="grid grid-cols-5 overflow-auto gap-y-1 max-h-1/2">
            <% @upload.images.each do |image| %>
              <% if image.persisted? %>
                <%= tag.div data: {controller: "attachment", "attachment-target": "attachment", "attachment-id-value": image.signed_id }, class: "m-2" do %>
                  <div class="relative" id="modal-image-container">
                    <%= image_tag image.variant(resize: '400x300^', crop: '400x300+0+0').processed, class: "object-cover w-full rounded" %>
                    <%= link_to purge_attachment_upload_path(image.signed_id), data: {}, class: "absolute top-0 right-0", data: {action: "click->attachment#delete", turbo_method: :delete} do %>
                      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-white bg-gray-700 rounded-lg bg-opacity-30 m-0.5 hover:bg-gray-900 hover:bg-opacity-30" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
