<%= search_form_for @q, class: "col s11 no-margin no-padding" do |f| %>

  <div class="field label prefix border no-margin no-padding">
    <i>search</i>
    <%= f.search_field :title_or_description_cont, class: ""%>
    <label>Title or description</label>
  </div>

<% end %>

