<section class="py-20 text-gray-700 bg-white dark:bg-gray-900 border mb-20">
  <div class="container mx-auto">
    <div class="px-4 mx-auto max-w-screen-xl text-center lg:px-12">
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Lorem ipsum dolor sit amet. Lorem ipsum.</h1>
      <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue. </p>
    </div>
    <div class="flex justify-center mt-20 ">
      <%= link_to "New", new_upload_path, class: "shadow-lg grow-0 text-white bg-gradient-to-r from-itmo_secondary-500 to-itmo_primary-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-itmo_primary-200 dark:focus:ring-itmo_primary-500 font-medium rounded-lg text-sm px-10 py-2.5 text-center my-auto" %>
      <div class="w-2/3 ml-6">
        <%= render "search_form" %>
      </div>
    </div>
    <div class="grid grid-cols-3 mt-20">
      <%= render @uploads %>
    </div>
    <%= paginate @uploads %>
  </div>
</section>
