<section class="py-20 mb-20 text-gray-700 border bg-gray-50 dark:bg-gray-900">
  <div class="container mx-auto">
    <div class="max-w-screen-xl px-4 mx-auto text-center lg:px-12">
      <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Lorem ipsum dolor sit amet. Lorem ipsum.</h1>
      <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue. </p>
    </div>
    <div class="flex justify-center mt-20 ">
      <%= link_to "New", new_upload_path, class: "px-10 my-auto text-sm font-medium text-center text-white rounded-lg shadow-lg grow-0 bg-gradient-to-r from-secondary-500 to-primary-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-primary-200 dark:focus:ring-primary-500 py-2.5" %>
      <div class="w-2/3 ml-6">
        <%= render "search_form" %>
      </div>
    </div>
    <div class="grid grid-cols-3 gap-4 mt-20 gap-y-0 xl:grid-cols-5">
      <%= render @uploads %>
    </div>
    <%== pagy_nav @pagy %>
    <%#== pagy_items_selector_js(@pagy, item_name: 'Upload'.pluralize(@pagy.count)) %>
  </div>
</section>
