<button type="submit" class="w-full px-5 text-sm font-medium text-center text-white rounded-md bg-primary-500 hover:bg-primary-600   focus:ring-primary-200 sm:w-auto py-2.5    <%= @cls %>">
  <%= content %>
</button>
