<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  </head>
  <body class="blue-grey">
    <div class="row form">
      <div class="col s12">
        <div class="card hoverable">
          <div class="card-content">
            <span class="card-title center">
              Hello <%= @resource.email %>!
            </span>
            <div class="divider"></div>
            <div class="center">
              <p>
                We're contacting you to notify you that your password has
                been changed.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
