<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  </head>
  <body class="blue-grey">
    <div class="row form">
      <div class="col s12">
        <div class="card hoverable">
          <div class="card-content">
            <span class="card-title center">
              Hello <%= @resource.email %>!
            </span>
            <div class="divider"></div>
            <div class="center">
              <p>
                Someone has requested a link to change your password. You can
                do this through the link below.
              </p>
              = link_to 'Change my Password', class: 'btn waves-effect cyan',
              edit_password_url(@resource, reset_password_token: @token)
              <p> If you didn't request this, please ignore this email.
                <p>
                  %p
                  Your password won't change until you access the link above and
                  create a new one.
                </div>
              </div>
            </div>
          </div>
        </div>
      </body>
    </html>
