<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Welcome to the new site</title>
  </head>
  <body>
    <div>
      <p>Hello <%= @user.email %>!</p>

      <p>Someone has requested a link to change your password. You can do this through the link below.</p>

      <p><%= link_to "please first click this link to reset your password", edit_user_password_url(reset_password_token: @token), html_options = { style: "font-weight: bold" } %></p>

      <p>If you didn't request this, please ignore this email.</p>
      <p>Your password won't change until you access the link above and create a new one.</p>
    </div>
  </body>
</html>
